export(netbinom)
export(netgamma)
export(normal.net)
export(poisson.net)
export(zelig2cloglog.net)
export(zelig2gamma.net)
export(zelig2logit.net)
export(zelig2ls.net)
export(zelig2normal.net)
export(zelig2poisson.net)
export(zelig2probit.net)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
importFrom(Zelig,setx)
S3method(coef,zelig)
S3method(describe,cloglog.net)
S3method(describe,gamma.net)
S3method(describe,logit.net)
S3method(describe,ls.net)
S3method(describe,normal.net)
S3method(describe,poisson.net)
S3method(describe,probit.net)
S3method(logLik,zelig)
S3method(param,cloglog.net)
S3method(param,gamma.net)
S3method(param,logit.net)
S3method(param,ls.net)
S3method(param,normal.net)
S3method(param,poisson.net)
S3method(param,probit.net)
S3method(plot,sim.cloglog.net)
S3method(plot,sim.gamma.net)
S3method(plot,sim.logit.net)
S3method(plot,sim.ls.net)
S3method(plot,sim.normal.net)
S3method(plot,sim.poisson.net)
S3method(plot,sim.probit.net)
S3method(plot,zelig)
S3method(qi,cloglog.net)
S3method(qi,gamma.net)
S3method(qi,logit.net)
S3method(qi,ls.net)
S3method(qi,normal.net)
S3method(qi,poisson.net)
S3method(qi,probit.net)
S3method(setx,cloglog.net)
S3method(setx,gamma.net)
S3method(setx,logit.net)
S3method(setx,ls.net)
S3method(setx,normal.net)
S3method(setx,poisson.net)
S3method(setx,probit.net)
S3method(summary,netglm)
S3method(vcov,netglm)
S3method(vcov,zelig)
