export(describe.cloglog.net)
export(describe.gamma.net)
export(describe.logit.net)
export(describe.ls.net)
export(describe.normal.net)
export(describe.poisson.net)
export(describe.probit.net)
export(gamma.net)
export(netbinom)
export(normal.net)
export(poisson.net)
export(param.cloglog.net)
export(param.gamma.net)
export(param.logit.net)
export(param.ls.net)
export(param.normal.net)
export(param.poisson.net)
export(param.probit.net)
export(qi.cloglog.net)
export(qi.gamma.net)
export(qi.logit.net)
export(qi.ls.net)
export(qi.normal.net)
export(qi.poisson.net)
export(qi.probit.net)
S3method(setx, gamma.net)
S3method(setx, logit.net)
export(setx.logit.net)
S3method(vcov, netglm)
export(zelig2cloglog.net)
export(zelig2gamma.net)
export(zelig2logit.net)
export(zelig2ls.net)
export(zelig2normal.net)
export(zelig2poisson.net)
export(zelig2probit.net)
importFrom(Zelig, describe, param, qi)
